*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
table{
    border-spacing: 0;
}
input{
    border: none;
}
body{
    background-color: rgb(245, 245, 245);
}
.calculator-body{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50% , -50%);
    width: 400px;
    height: 600px;
}
table{
    background-color: rgb(111, 159, 155);
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.249);
}
.calculator-body table tr td{
    text-align: center;

}
input[type="text"]{
    width: 100%;
    margin: 0px;
    padding: 15px;
    text-align: right;
    background-color: rgb(111, 159, 155);
    color: aliceblue;
    font-size: 30px;
    cursor: pointer;
    border: none;
    outline: none;
}
input[type="button"]{
    padding: 15px 25px;
    width: 100px;
    color: aliceblue;
    background-color: rgb(111, 159, 155);
    font-size: 20px;
    cursor: pointer;
}
input[type="button"]:hover{
    background-color: rgb(14, 213, 213);
}