.container {
    width: 90% !important; 
    margin: 0 auto !important;
}

.log-in-container {
    width: 90%;
    margin: 0 auto;
}

.row {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
}


@media(max-width: 700px){
    header {
        width: 100%;
        height: 120%;
        background-image: url(../images/bg.jpg);
        background-position: right;
        background-size: cover;
        z-index: 999;
    }
    .hero-container{
        display: block;
    }
    .hero-last-btn{
        position: absolute;
        bottom: -19%;
        right: 50%;
    }
    .hero-container .hero-left{
        text-align: center;
    }
    .hero-container .hero-left .hero-h1 {
        font-size: 5rem;
        line-height: 1;
        padding: 0 10rem;
    }
    .hero-container .hero-left .hero-h3 {
        font-size: 3rem;
        margin: 1rem 0;
    }
    .hero-container .hero-left .hero-h4 {
        font-size: 1.6rem;
    }
    .hero-container .hero-left .order .hero-h3{
        font-size: 4rem;
    }
    .hero-container .hero-left .order span {
        font-size: 1.6rem;
        top: 49%;
        right: -4%;
    }
    .menus-section .card {
        margin: 4rem 0;
    }
    .menus-section .cards{
        grid-gap: 0rem;
    }
    .col-sm-1 {
        grid-column: span 1 !important;
    }
    
    .col-sm-2 {
        grid-column: span 2 !important;
    }
    
    .col-sm-3 {
        grid-column: span 3 !important;
    }
    
    .col-sm-4 {
        grid-column: span 4 !important;
    }
    
    .col-sm-5 {
        grid-column: span 5 !important;
    }
    
    .col-sm-6 {
        grid-column: span 6 !important;
    }
    
    .col-sm-7 {
        grid-column: span 7 !important;
    }
    
    .col-sm-8 {
        grid-column: span 8 !important;
    }
    
    .col-sm-9 {
        grid-column: span 9 !important;
    }
    
    .col-sm-10 {
        grid-column: span 10 !important;
    }
    
    .col-sm-11 {
        grid-column: span 11 !important;
    }
    
    .col-sm-12 {
        grid-column: span 12 !important;
    }
}


@media (max-width: 1000px){
    .d-block {
        display: block !important;
    }
    .d-none {
        display: none !important;
    }
    .mobile-menu{
        display: block;
    }
    .mobile-menu i{
        font-size: 2rem;
        color: var(--secondary);
    }
    .mobile-contact{
        display: block;
    }
    header .nav-bg {
        height: 6rem;
        top: 0;
    }
    .nav-bg .left{
        width: 100%;
        justify-content: space-between;
        margin-top: 1.5rem;
    }
    header .left .menu{
        position: absolute;
        top: 0;
        left: 0;
        height: 100vh;
        width: 100%;
        margin-left: 0;
        display: none;
        z-index: 999;
    }
    header .left .menu ul.main-ul {
        display: block;
        align-items: center;
        position: absolute;
        background-color: var(--secondary);
        height: 100vh;
        width: 75%;
        margin-top: 0;
    }
    header .left .menu ul.main-ul .mobile-menu-top{
        display: flex !important;
        align-items: center;
        justify-content: space-between;
        margin: 2rem;
    }
    header .left .logo i {
        font-size: 2.5rem !important;
    }
    header .left ul.main-ul .mobile-menu-top i.fa-xmark{
        font-size: 2rem;
        color: var(--text-white);
    }
    .menu ul.main-ul li ul.sub-menu{
        margin-left: -1rem;
        margin-top: 1.5rem;
        display: none;
    }
    .left .menu ul.main-ul li{
        margin-bottom: 1.5rem;
    }
    .left .menu ul.main-ul li a {
        color: var(--text-white);
        display: block;
    }
    .left .menu ul.main-ul li .sub-menu li a{
        color: var(--text-white);
    }
    .left .menu ul.main-ul li .sub-menu li:hover a{
        color: var(--hover-color);
    }
    .menu ul.main-ul li .fa-angle-down{
        float: right;
        margin-right: 2rem;
    }

    header ul.mobile-nav-bottom li .menu-icon{
    font-size: 2rem;
    }
    header ul.mobile-nav-bottom li:hover .menu-icon,
    header ul.mobile-nav-bottom li:hover{
        color: var(--hover-color);
    }
    header ul.mobile-nav-bottom li:not(:last-child){
        border-right: .1rem solid rgb(232, 230, 230);
    }
    header ul.mobile-nav-bottom li span {
        position: absolute;
        font-size: 1rem;
        top: 20%;
        left: 50%;
        background-color: var(--primary);
        color: var(--secondary);
        padding: 0.1rem 0.6rem;
        border-radius: 1rem;
    }
    header ul.mobile-nav-bottom li h6{
        margin-top: .5rem;
    }
    header ul.mobile-nav-bottom {
        position: fixed;
        bottom: 0;
        display: flex;
        background-color: var(--bg-white);
        width: 100%;
        height: 6rem;
        box-shadow: 0 0 1rem 0 rgba(0, 0, 0, 0.194);
        z-index: 999;
    }
    header ul.mobile-nav-bottom li{
        display: flex;
        align-items: center;
        flex-grow: 1;
        min-width: 50px;
        white-space: nowrap;
        flex-direction: column;
        justify-content: center;
        position: relative;
        cursor: pointer;
    }
    header ul.mobile-nav-bottom li .log-in{
        margin-top: 2rem;
        border-bottom: 2rem solid transparent;
    }
    header ul.mobile-nav-bottom li .log-in-box{
        width: 30rem;
        background: var(--bg-white);
        min-height: 30rem;
        right: -10rem;
        top: 7rem;
        border: .2rem solid var(--lite-black);
        border-top: .2rem solid var(--primary);
        box-shadow: 0 0 1rem 0 rgba(70, 70, 70, 0.146);
        display: none !important;
    }
    header ul.mobile-nav-bottom li .log-in-box .head{
        display: flex;
        align-items: center;
        margin: 4rem 0 2rem;
    }
    header ul.mobile-nav-bottom li .log-in-box .head h3{
        font-size: 1.8rem;
        font-weight: 500;
        margin-right: .3rem;
    }
    header ul.mobile-nav-bottom li .log-in-box .head a{
        font-size: 1.4rem;
        color: var(--primary);
    }
    header ul.mobile-nav-bottom li .log-in-box .head a:hover{
        border-bottom: .1rem solid var(--primary);
        line-height: .7;
    }
    header ul.mobile-nav-bottom li .log-in-box .body .title{
        display: flex;
    }
    header ul.mobile-nav-bottom li .log-in-box .body .title h3{
        font-size: 1.6rem;
        font-weight: 300;
        color: var(--lite-black);
        margin-bottom: .5rem;
    }
    header ul.mobile-nav-bottom li .log-in-box .body .title i{
        font-size: .5rem;
        color: red;
        margin-top: .5rem;
        margin-left: .2rem;
    }
    header ul.mobile-nav-bottom li .log-in-box .body .email{
        margin-bottom: 2rem;
    }
    header ul.mobile-nav-bottom li .log-in-box .body input{
        width: 100%;
        padding: 1rem;
        border: .1rem solid var(--lite-black);
        border-radius: .5rem;
    }
    header ul.mobile-nav-bottom li .log-in-box .body input::placeholder{
        color: var(--lite-black);
    }
    header ul.mobile-nav-bottom li .log-in-box .body .btn{
        background-color: var(--primary);
        width: 100%;
        border-radius: 0.5rem;
        padding: .8rem;
        font-weight: 600;
        cursor: pointer;
    }
    header ul.mobile-nav-bottom li .log-in-box .footer{
        margin: 3rem 0 2rem;
    }
    header ul.mobile-nav-bottom li .log-in-box .footer a{
        font-size: 1.2rem;
        color: var(--primary);
    }
    /* log-in box end  */
    .hero-container .hero-left .hero-h3 {
        font-size: 2.5rem;
        line-height: 1;
        margin: 2rem 0;
    }
    .hero-container .hero-left .hero-h1 {
        line-height: 1;
    }
    .hero-container .hero-left .hero-h4 {
        font-size: 16px;
    }
    .hero-container .hero-left .order .hero-h3{
        margin-top: 3rem;
    }
    .hero-container .hero-left .order span {
        top: 72%;
        left: 25%;
    }
    .hero-last-btn {
        position: absolute;
        bottom: -2%;
        right: 40%;
    }
    /* for li active */
    li.active{
        color: var(--hover-color);
    }
    .col-1 {
        grid-column: span 1;
    }
    
    .col-2 {
        grid-column: span 2;
    }
    
    .col-3 {
        grid-column: span 3;
    }
    
    .col-4 {
        grid-column: span 4;
    }
    
    .col-5 {
        grid-column: span 5;
    }
    
    .col-6 {
        grid-column: span 6;
    }
    
    .col-7 {
        grid-column: span 7;
    }
    
    .col-8 {
        grid-column: span 8;
    }
    
    .col-9 {
        grid-column: span 9;
    }
    
    .col-10 {
        grid-column: span 10;
    }
    
    .col-11 {
        grid-column: span 11;
    }
    
    .col-12 {
        grid-column: span 12;
    }
}

/* for lg devices cols */
@media (min-width: 1001px){
    /* navigation top css start */
    header .top-section{
        background: var(--secondary);
    }

    header .top-section i{
        color: var(--text-white);
        font-size: 1.2rem;
    }
    header .top-section h3{
        color: var(--text-white);
        font-size: 1.2rem;
    }
    header .top-section .social-media i{
        font-size: 1.4rem;
        margin-left: 1rem;
    }
    /* navigation top css end */


    /* for submenu start */
    .menu ul.main-ul li{
        position: relative;
        border-bottom: 2rem solid transparent;
    }
    .menu ul.main-ul li ul.sub-menu{
        position: absolute;
        width: 20rem;
        padding: 2rem 0;
        background: var(--bg-white);
        border-radius: .5rem;
        box-shadow: 0 0 1rem 0 rgba(70, 70, 70, 0.146);
        z-index: 999;
        margin-top: 2rem;
        display: none;
    }
    .menu ul.main-ul li ul.sub-menu li{
        margin-left: 0;
        width: 20rem;
        padding: 1rem 0 1rem 2rem;
        border-bottom: 0;
        transition: all .3s ease-in-out;
    }
    .menu ul.main-ul li ul.sub-menu li a{
        font-family: "Gilroy-Light",sans-serif;
        color: var(--secondary);
        transition: all .3s ease-in-out;
    }
    .menu ul.main-ul li:hover ul.sub-menu{
        display: block;
    }
    .menu ul.main-ul li ul.sub-menu li:hover{
        background-color: #e9e6e6;
    }
    .menu ul.main-ul li ul.sub-menu li:hover a{
        color: var(--hover-color);
    }
    .sub-menu li.active{
        background-color: #e9e6e6;
    }
    .sub-menu li.active a{
        color: var(--hover-color) !important;
    }
    .sub-menu li.active a{
        color: var(--hover-color);
    }

    header .left .logo i {
        font-size: 2.5rem;
    }
    header .left .menu ul.main-ul li a {
        font-size: 1.2rem;
    }
    header .left .menu ul.main-ul li {
        margin-left: 2rem;
    }
    header .right .contact i{
        font-size: 4rem !important;
        margin-right: 1rem !important;
    }
    header .right .contact h3{
        font-size: 1rem !important;
    }
    header .right .contact h1{
        font-size: 1.5rem !important;
    }
    header .right .icons ul li .menu-icon {
        font-size: 1.2rem;
        padding: 1.2rem;
    }

    /* log-in box start */
    header .right .icons .log-in{
        margin-top: 2rem;
        border-bottom: 2rem solid transparent;
    }
    header .right .icons .log-in-box{
        width: 30rem;
        background: var(--bg-white);
        min-height: 30rem;
        right: -10rem;
        top: 7rem;
        border: .2rem solid var(--lite-black);
        border-top: .2rem solid var(--primary);
        box-shadow: 0 0 1rem 0 rgba(70, 70, 70, 0.146);
        display: none;
    }
    header .right .icons .log-in:hover .log-in-box{
        display: block;
    }
    .icons .log-in-box .head{
        display: flex;
        align-items: center;
        margin: 4rem 0 2rem;
    }
    .icons .log-in-box .head h3{
        font-size: 1.8rem;
        font-weight: 500;
        margin-right: .3rem;
    }
    .icons .log-in-box .head a{
        font-size: 1.4rem;
        color: var(--primary);
    }
    .icons .log-in-box .head a:hover{
        border-bottom: .1rem solid var(--primary);
        line-height: .7;
    }
    .icons .log-in-box .body .title{
        display: flex;
    }
    .icons .log-in-box .body .title h3{
        font-size: 1.6rem;
        font-weight: 300;
        color: var(--lite-black);
        margin-bottom: .5rem;
    }
    .icons .log-in-box .body .title i{
        font-size: .5rem;
        color: red;
        margin-top: .5rem;
        margin-left: .2rem;
    }
    .icons .log-in-box .body .email{
        margin-bottom: 2rem;
    }
    .icons .log-in-box .body input{
        width: 100%;
        padding: 1rem;
        border: .1rem solid var(--lite-black);
        border-radius: .5rem;
    }
    .icons .log-in-box .body input::placeholder{
        color: var(--lite-black);
    }
    .icons .log-in-box .body .btn{
        background-color: var(--primary);
        width: 100%;
        border-radius: 0.5rem;
        padding: .8rem;
        font-weight: 600;
        cursor: pointer;
    }
    .icons .log-in-box .footer{
        margin: 3rem 0 2rem;
    }
    .icons .log-in-box .footer a{
        font-size: 1.2rem;
        color: var(--primary);
    }

    .hero-last-btn {
        position: absolute;
        bottom: -2%;
        right: 44%;
    }
    /* log-in box end  */

    .mobile-menu{
        display: none;
    }
    .mobile-contact{
        display: none;
    }
    .mobile-menu-top{
        display: none;
    }
    .mobile-nav-bottom{
        display: none;
    }
    .sticky{
        position: fixed;
        top: 0;
        left: 0;
        z-index: 999;
    }

    .menus-section .menus{
        display: flex;
        justify-content: space-between;
        align-items: center;
        text-align: center;
        margin: 5rem 0;
    }

    .menus-section .card .right img{
        position: absolute;
        top: 10%;
        left: -8%;
        width: 100%;
        height: auto;
    }
    /* for li active */
    li.active{
        color: var(--hover-color);
    }
    
    .col-lg-1 {
        grid-column: span 1;
    }

    .col-lg-2 {
        grid-column: span 2;
    }

    .col-lg-3 {
        grid-column: span 3;
    }

    .col-lg-4 {
        grid-column: span 4;
    }

    .col-lg-5 {
        grid-column: span 5;
    }

    .col-lg-6 {
        grid-column: span 6;
    }

    .col-lg-7 {
        grid-column: span 7;
    }

    .col-lg-8 {
        grid-column: span 8;
    }

    .col-lg-9 {
        grid-column: span 9;
    }

    .col-lg-10 {
        grid-column: span 10;
    }

    .col-lg-11 {
        grid-column: span 11;
    }

    .col-lg-12 {
        grid-column: span 12;
    }
}


/* for xl devices end */
@media (min-width: 1400px) {

    .container{
        width: 80%;
        margin: 0 auto;
    }
    header .left .logo i {
        font-size: 2.5rem;
    }
    header .left .menu ul.main-ul li a {
        font-size: 1.4rem;
    }
    header .left .menu ul.main-ul li {
        margin-left: 2rem;
    }
    header .right .contact i{
        font-size: 5rem !important;
        margin-right: 2rem !important;
    }
    header .right .contact h3{
        font-size: 1.5rem !important;
    }
    header .right .contact h1{
        font-size: 3rem !important;
    }
    header .right .icons ul li .menu-icon {
        font-size: 1.5rem;
        padding: 1.5rem;
    }

    .menus-section .card .left .card-h5 {
        font-size: 1.8rem;
        font-weight: 400;
    }
    .menus-section .card .left .card-h3 {
        line-height: 1.1;
        font-size: 3rem;
    }
    .menus-section .card .left .price {
        font-size: 2rem;
    }
    
    /* for xl devices cols */
    .col-xl-1 {
        grid-column: span 1;
    }

    .col-xl-2 {
        grid-column: span 2;
    }

    .col-xl-3 {
        grid-column: span 3;
    }

    .col-xl-4 {
        grid-column: span 4;
    }

    .col-xl-5 {
        grid-column: span 5;
    }

    .col-xl-6 {
        grid-column: span 6;
    }

    .col-xl-7 {
        grid-column: span 7;
    }

    .col-xl-8 {
        grid-column: span 8;
    }

    .col-xl-9 {
        grid-column: span 9;
    }

    .col-xl-10 {
        grid-column: span 10;
    }

    .col-xl-11 {
        grid-column: span 11;
    }

    .col-xl-12 {
        grid-column: span 12;
    }
}

/* for xl devices end */