/* custom font linking */
@font-face {
    font-family: "Gilroy-ExtraBold";
    src: url(../font-family/Gilroy-Font/Radomir\ Tinkov\ -\ Gilroy-ExtraBold.otf);
  }
  @font-face {
    font-family: "Gilroy-Light";
    src: url(../font-family/Gilroy-Font/Radomir\ Tinkov\ -\ Gilroy-Light.otf);
  }

  /* finished */

  /* colors */
  :root{
      --primary: #f9bf03;
      --secondary: #171616;
      --text-white: #ffffff;
      --bg-white: #ffffff;
      --lite-black: #b3b3b3;
      --green: #028702;
      --hover-color:#e3af07; 
  }
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
}  
html{
    font-size: 10px;
    scroll-behavior: smooth;
}

button{
    background: none;
}
body{
    line-height: 1.5;
    font-family: "Gilroy-ExtraBold";
}
a{
    text-decoration: none;
    color: var(--secondary-color);
}
li{
    list-style: none;
}
i{
    font-size: 1.6rem;
}

/* scrollbar css */
::-webkit-scrollbar{
    width: 10px;
}

/* ----- Track ----- */
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px rgb(185, 185, 185);
    border-radius: 10px;
}

/* ----- Handle ----- */
::-webkit-scrollbar-thumb {
    background: rgb(224, 224, 224);
    border-radius: 10px;
    box-shadow: inset 0 0 5px rgb(185, 185, 185);
}
/* ----- Handle on hover ----- */
::-webkit-scrollbar-thumb:hover{
    background: rgb(75, 75, 75);
}

/* scrollbar css end */



/* navigation top css start */
header .top-section{
    background: var(--secondary);
}

header .top-section i{
    color: var(--text-white);
    font-size: 1.2rem;
}
header .top-section h3{
    color: var(--text-white);
    font-size: 1.2rem;
}
header .top-section .social-media i{
    font-size: 1.4rem;
    margin-left: 1rem;
}
/* navigation top css end */


/* main navigation css start */
header .hero-bg-img{
    width: 100%;
    height: 100vh;
    object-fit: cover;
    position: relative;
}
header .nav-bg{
    background: var(--bg-white);
    width: 100%;
    height: 12rem;
    top: 38px;
}
header .left,
header .right{
    display: flex;
    align-items: center;
}
header .left .logo h1{
    color: var(--green);
    font-size: 2.5rem;
}
header .left .menu ul{
    display: flex;
    align-items: center;
    margin-top: 2rem;
}
header .left .menu ul li{
    margin-left: 3rem;
    align-items: center;
    cursor: pointer;
}
/* for li active */
li.active{
    color: var(--hover-color);
}

header .left .menu ul li:hover a{
    color: var(--hover-color);
}
header .left .menu ul li a{
    font-size: 1.5rem;
    text-transform: uppercase;
    transition: all .3s ease-in-out;
}
header .left .menu ul li i{
    font-size: 1.2rem;
    margin-left: 1rem;
    transition: all .3s ease-in-out;
}
/* for submenu start */
.menu li{
    position: relative;
    border-bottom: 2rem solid transparent;
}
.menu li ul.sub-menu{
    position: absolute;
    width: 20rem;
    padding: 2rem 0;
    display: block;
    background: var(--bg-white);
    border-radius: .5rem;
    box-shadow: 0 0 1rem 0 rgba(70, 70, 70, 0.146);
    z-index: 999;
    margin-top: 2rem;
    display: none;
}
.menu li ul.sub-menu li{
    margin: 0;
    width: 20rem;
    padding: 1rem 0 1rem 2rem;
    border-bottom: 0;
    transition: all .3s ease-in-out;
}
.menu li ul.sub-menu li a{
    font-family: "Gilroy-Light",sans-serif;
    color: var(--secondary);
    transition: all .3s ease-in-out;
}
.menu li:hover ul.sub-menu{
    display: block;
}
.menu li ul.sub-menu li:hover{
    background-color: #e9e6e6;
}
.menu li ul.sub-menu li:hover a{
    color: var(--hover-color);
}
.sub-menu li.active{
    background-color: #e9e6e6;
}
.sub-menu li.active a{
    color: var(--hover-color) !important;
}
/* for submenu end */

header .right .contact{
    display: flex;
    align-items: center;
}
header .right .icons{
    margin-left: 2rem;
}
header .right .icons ul li{
    display: inline-block;
    margin-left: 1rem;
    position: relative;
    cursor: pointer;
}
header .right .icons ul li i{
    font-size: 1.5rem;
    padding: 1.5rem;
    border: 1px solid var(--lite-black);
    border-radius: 100%;
    transition: all .3s ease-in-out;
}
header .right .icons ul li:hover i{
    background-color: var(--hover-color);
    border: 1px solid var(--hover-color);
    border-radius: 100%;
}
header .right .icons span{
    position: absolute;
    top: 20%;
    left: 60%;
    background-color: var(--primary);
    padding: .1rem .6rem;
    border-radius: 1rem;
}

/* log-in box start */
header .right .icons .log-in-box{
    width: 100rem;
}
/* log-in box end  */

/* main navigation css end */
