.mb-1{
    margin-bottom: .1rem;
}
.mb-2{
    margin-bottom: .2rem;
}
.mb-3{
    margin-bottom: .3rem;
}
.mb-4{
    margin-bottom: .4rem;
}
.mb-5{
    margin-bottom: .5rem;
}
.mb-6{
    margin-bottom: .6rem;
}
.mb-7{
    margin-bottom: .7rem;
}
.mb-8{
    margin-bottom: .8rem;
}
.mb-9{
    margin-bottom: .9rem;
}
.mb-10{
    margin-bottom: 1rem;
}
.mb-11{
    margin-bottom: 1.1rem;
}
.mb-12{
    margin-bottom: 1.2rem;
}
.mb-13{
    margin-bottom: 1.3rem;
}
.mb-14{
    margin-bottom: 1.4rem;
}
.mb-15{
    margin-bottom: 1.5rem;
}




.mt-1{
    margin-top: .1rem;
}
.mt-2{
    margin-top: .2rem;
}
.mt-3{
    margin-top: .3rem;
}
.mt-4{
    margin-top: .4rem;
}
.mt-5{
    margin-top: .5rem;
}
.mt-6{
    margin-top: .6rem;
}
.mt-7{
    margin-top: .7rem;
}
.mt-8{
    margin-top: .8rem;
}
.mt-9{
    margin-top: .9rem;
}
.mt-10{
    margin-top: 1rem;
}
.mt-11{
    margin-top: 1.1rem;
}
.mt-12{
    margin-top: 1.2rem;
}
.mt-13{
    margin-top: 1.3rem;
}
.mt-14{
    margin-top: 1.4rem;
}
.mt-15{
    margin-top: 1.5rem;
}