.container {
    width: 95%;
    margin: 0 auto;
    transition: width .1s;
  }
.row{
  display: grid;
  grid-template-columns: repeat(12, 1fr);
}
.col-1{
  grid-column: span 1;
}
.col-2{
  grid-column: span 2;
}
.col-3{
  grid-column: span 3;
}
.col-4{
  grid-column: span 4;
}
.col-5{
  grid-column: span 5;
}
.col-6{
  grid-column: span 6;
}
.col-7{
  grid-column: span 7;
}
.col-8{
  grid-column: span 8;
}
.col-9{
  grid-column: span 9;
}
.col-10{
  grid-column: span 10;
}
.col-11{
  grid-column: span 11;
}
.col-12{
  grid-column: span 12;
}
  /* mobile reponsive start  */
  @media (max-width:640px) and (min-width:100px){
    .container{
      width: 95%;
      margin: 0 auto;
    }

  .mobile-menu{
    background: rgb(38, 37, 37);
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: 0;
    width: 100%;
    text-align: center;
    z-index: 999;
    display: none;
  }
  .mobile-menu .logo {
    margin:2.5rem;
  }
.mobile-menu .logo a{
  font-size:2rem;
  color: var(--skin-color);
}
.mobile-menu ul li{
  margin: 1rem 0;
}
.mobile-menu ul button{
  margin-top: 2rem;
}
.mobile-menu ul .menu-btn{
  padding: 1rem 1.5rem;
  background: var(--skin-color);
  border-radius: .5rem;
}
.mobile-menu .submit-btn{
  margin-top: 2.5rem;
}
.mobile-menu .submit-btn a{
  background: var(--skin-color);
  color: #ffffff;
  padding: 1rem 1.5rem;
  border-radius: .5rem;
}
.mobile-menu button{
  background: none;
  position: fixed;
  bottom: 30px;
  left: 50%;
  }
  .mobile-menu .btn i{
    padding:1rem;
    font-size: 2rem;
    color: white;
    background:var(--skin-color);
    border-radius: .5rem;
  }
  .close{
    position:absolute;
    bottom: 2rem;
    left: 50%;
  }
  .hero-section .leftside h1 {
    font-size: 2.5rem;
  }
  .hero-section .leftside h4 {
    font-weight: 400;
    font-size: 1.5rem;
  }
  .hero-section .leftside p {
    font-size: 1.2rem;
 }
 .hero-section .leftside h3 {
  font-size: 1.5rem;
  margin-bottom: .5rem;
}
  .resume .experiences{
    grid-gap:0;
  }
  .resume .box .item::before {
    width: 1rem;
    left: -1rem;
  }
  .d-sm-none{
      display: none !important;
  }
  .d-sm-block{
      display: block !important;
  }

  .hero-section .rightside .image{
    display: none;
  }
  .break-line{
    margin: 4rem 0;
  }
  .years{
    display: block;
    text-align: center;
    background: var(--secondary-color);
    padding: 15px;
    border-radius: 5px;
    margin-bottom: 1rem;
  }
  .title h3 {
    font-size: 1.6rem;
    font-weight: 400;
    color: var(--skin-color);
  }
  .title h3 {
    font-size: 1.3rem;
  }
  .title h1 {
    font-size: 2rem;
  }
  .service-section .services .box .info {
    padding: 5rem;
  }
  .resume .box .left {
    padding-left: 1rem;
  }
  .resume .experiences .experience h1 {
    margin-top: 50px;
    margin-left: 10px;
  }
  .resume .experiences .experience h3 {
    margin-left: 10px;
  }
  .testimonial .owl-carousel .box {
    margin-top: 1rem;
  }
  .testimonial .next-prev button {
    padding: 0rem 1.5rem;
}
  .contact .input {
    margin: 1rem 2rem 0 2rem;
  }
  .footer .footer-content .social-links .links i {
    font-size: 1.5rem;
    padding: 1rem;
  }
  footer .footer-content h4 {
    font-size: 1.2rem;
    font-weight: 400;
    margin-bottom: 2rem;
  }
}
/* mobile reponsive end */

  /* tablet reponsive start  */
  @media (min-width: 768px) {
    .container {
      width: 768px;
    }
    .d-md-none{
      display: none !important;
  }
  .d-md-block{
      display: block !important;
  }
    .col-md-1{
      grid-column: span 1;
    }
    .col-md-2{
      grid-column: span 2;
    }
    .col-md-3{
      grid-column: span 3;
    }
    .col-md-4{
      grid-column: span 4;
    }
    .col-md-5{
      grid-column: span 5;
    }
    .col-md-6{
      grid-column: span 6;
    }
    .col-md-7{
      grid-column: span 7;
    }
    .col-md-8{
      grid-column: span 8;
    }
    .col-md-9{
      grid-column: span 9;
    }
    .col-md-10{
      grid-column: span 10;
    }
    .col-md-11{
      grid-column: span 11;
    }
    .col-md-12{
      grid-column: span 12;
    }

  }

  /* laptop  */
  @media (min-width: 1024px) {
    .container {
      width: 1024px;
    }
    .col-lg-1{
      grid-column: span 1;
    }
    .col-lg-2{
      grid-column: span 2;
    }
    .col-lg-3{
      grid-column: span 3;
    }
    .col-lg-4{
      grid-column: span 4;
    }
    .col-lg-5{
      grid-column: span 5;
    }
    .col-lg-6{
      grid-column: span 6;
    }
    .col-lg-7{
      grid-column: span 7;
    }
    .col-lg-8{
      grid-column: span 8;
    }
    .col-lg-9{
      grid-column: span 9;
    }
    .col-lg-10{
      grid-column: span 10;
    }
    .col-lg-11{
      grid-column: span 11;
    }
    .col-lg-12{
      grid-column: span 12;
    }
  }

  /* desktop  */
  @media (min-width: 1280px) {
    .container {
      width: 1280px;
    }
    .col-xl-1{
      grid-column: span 1;
    }
    .col-xl-2{
      grid-column: span 2;
    }
    .col-xl-3{
      grid-column: span 3;
    }
    .col-xl-4{
      grid-column: span 4;
    }
    .col-xl-5{
      grid-column: span 5;
    }
    .col-xl-6{
      grid-column: span 6;
    }
    .col-xl-7{
      grid-column: span 7;
    }
    .col-xl-8{
      grid-column: span 8;
    }
    .col-xl-9{
      grid-column: span 9;
    }
    .col-xl-10{
      grid-column: span 10;
    }
    .col-xl-11{
      grid-column: span 11;
    }
    .col-xl-12{
      grid-column: span 12;
    }
  }

  /* big screen   */
  @media (min-width: 1536px) {
    .container {
      width: 1536px;
    }
    .col-xxl-1{
      grid-column: span 1;
    }
    .col-xxl-2{
      grid-column: span 2;
    }
    .col-xxl-3{
      grid-column: span 3;
    }
    .col-xxl-4{
      grid-column: span 4;
    }
    .col-xxl-5{
      grid-column: span 5;
    }
    .col-xxl-6{
      grid-column: span 6;
    }
    .col-xxl-7{
      grid-column: span 7;
    }
    .col-xxl-8{
      grid-column: span 8;
    }
    .col-xxl-9{
      grid-column: span 9;
    }
    .col-xxl-10{
      grid-column: span 10;
    }
    .col-xxl-11{
      grid-column: span 11;
    }
    .col-xxl-12{
      grid-column: span 12;
    }
  }