.justify-center{
    display: flex;
    justify-content: center;
}
.justify-between{
    display: flex;
    justify-content: space-between;
}
.flex{
    display: flex;
}
.item-center{
    align-items: center;
}
.text-center{
    text-align: center !important;
}
.text-right{
    text-align: right !important;
}
.text-left{
    text-align: left !important;
}