/* ----- GOOGLE FONT STYLE ----- */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600&display=swap');
/* ----- COLOR VARIABLES ----- */
:root{
	--skin-color:#FF0101;
    --secondary-color:#22212180;
    --text-color-white:#FFFFFF;
    --bg-color:#2F2D2D;
}
/* ----- GLOBLE STYLE ----- */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
}
*:not(i){
    font-family:  'Poppins', sans-serif;
}
html {
    scroll-behavior: smooth;
    font-size: 10px;
  }
body{
    font-size: 1.4rem;
    line-height: 1.5;
    overflow-x: hidden;
    -webkit-font-smoothing: antialiased;
    background: var(--bg-color);
}
a{
    text-decoration: none;
    transition: all 0.3s ease-in-out;
    color: var(--text-color-white);
}
li{
    list-style: none;
}
img{
    max-width: 100%;
    height: auto;
}
h1, h2, h3, h4, h5, h6 {
    font-weight: 600;
    line-height: 1.5;
    color: var(--text-color-white);
}
p{
    color: var(--text-color-white);
}
.break-line{
    width: 100%;
    height: .2rem;
    margin: 8rem 0;
    background-color: var(--secondary-color);
}
.title{
    margin-bottom: 2rem;
}
.title h3{
    font-size: 1.6rem;
    font-weight: 400;
    color: var(--skin-color);
}
.title h1{
    font-size: 4rem;
    font-weight: 600;
    color: var(--text-color-white);
}
.mid-title{
    margin-bottom: 2rem;
    float: center;
}

/* ~~~~~~~~~ SCROLLBAR START ~~~~~~~~~ */
/* ----- width ----- */
::-webkit-scrollbar{
    width: 10px;
}

/* ----- Track ----- */
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px rgb(185, 185, 185);
    border-radius: 10px;
}

/* ----- Handle ----- */
::-webkit-scrollbar-thumb {
    background: rgb(224, 224, 224);
    border-radius: 10px;
    box-shadow: inset 0 0 5px rgb(185, 185, 185);
}
/* ----- Handle on hover ----- */
::-webkit-scrollbar-thumb:hover{
    background: rgb(234, 252, 76);
}
/* ===== SCROLLBAR END ===== */

:before,:after{
    box-sizing: border-box;
}
::selection{
    background-color: #474744;
    color: #ffffff;
}


/*===== Navigation Css START=====*/
.container {
    width: 90%;
    margin: 0 auto;
    transition: width .1s;
  }
.nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 2.5rem;
}
.nav .logo a{
    font-size: 3rem;
    color: var(--skin-color);
    
}.nav .logo button{
    display:none;
}
.nav .menu ul li{
    display: inline-block;
    padding-left: 1rem;
}
.nav .menu ul li a{
    font-size: 2rem;
}
.nav .btn{
    background-color: var(--skin-color);
    font-size: 1.6rem;
    padding: .5rem 1rem;
    border-radius: .3rem;
}
/* .mobile-nav{
    display: none;
} */
/*===== Navigation Css END=====*/

/*===== HERO SECTION START =====*/ 
.hero-section{
    margin-top: 7rem;
}
.hero-section .leftside h3{
    font-size: 2rem;
}
.hero-section .leftside h3 span{
    color: var(--skin-color);
}
.hero-section .leftside h1{
    font-size: 4.5rem;
}
.hero-section .leftside h4{
    font-weight: 400;
    font-size: 2rem;
}
.hero-section .leftside p{
    font-size: 1.4rem;
    margin: 2rem 0 3rem 0;
   overflow: hidden;
}
.hero-section .leftside .social-links h3{
    margin-top: 3rem;
    font-size: 2rem;
}
.hero-section .leftside .social-links .links i{
    background-color: var(--secondary-color);
    padding: .8rem 1rem;
    color: var(--text-color-white);
    font-size: 2rem;
    border-radius: .5rem;
    margin-right: .5rem;
    margin-bottom: 5rem;
    margin-top: .5rem;
}
.hero-section .leftside .years h1{
    font-weight: 400;
    font-size: 3.5rem;
}
.hero-section .leftside .years h4{
    font-weight: 400;
    font-size: 1.4rem;
}

.hero-section .rightside .image{
    width: 35rem;
    height: 40rem;
    margin-right: 5rem;
    background: var(--secondary-color);
    margin-top: 10rem;
    position: relative;
    float: right;
}
.hero-section .rightside .image img {
    position: absolute;
    width: 60rem;
    height: auto;
    bottom: 0;
    right: -10rem;
}
/*===== HERO SECTION END =====*/ 


/*===== SERVICE SECTION START =====*/ 
.service-section .services{
    box-shadow: 0 0 20px 0 #2f2d2d;
}

.service-section .services .box {
    border-radius: .5rem;
    box-shadow: inset 0 0 40px 0 #fbfbfb2e;
    background-color: var(--secondary-color);
}
.service-section .services .box .info{
    padding: 10rem 7rem; 
}
.service-section .services .box .info i{
    font-size: 3rem;
    margin-bottom: 1rem;
    color: var(--skin-color);
}
.service-section .services .box .info h3{
    font-size: 2rem;
    margin-bottom: 1rem;
}
.service-section .services .box .info p{
    font-size: 1.4rem;
}
/*===== SERVICE SECTION END =====*/ 

/* RESUME SECTION START */
.award-section .gallery .gallery-item img{
    width: 100%;
    height: 35rem;
    object-fit: cover;
    border: .5rem solid var(--text-color-white);
    border-radius: .2rem;
}
.btn-2{
    margin-top: 5rem;
}
.btn-2 a{
    background-color: var(--secondary-color);
    padding: 1rem 2.5rem;
    border-radius: .5rem;
}
.btn-2 i{
    margin-left: 1rem;
}
.resume .row{
    grid-gap: 5rem;
}
.resume .experiences .experience h1{
    font-size: 2.5rem;
}
.resume .experiences .experience h3{
    font-size: 1.5rem;
    color: var(--skin-color);
}
.resume .box .left{
    padding-left: 5rem;
}
.resume .box .line{
    border-left: .5rem solid var(--secondary-color);
}
.resume .box .outside-effect{
    box-shadow: 0 0 1rem 0 rgba(0, 0, 0, 0.315);
}
.resume .box .item{
    background-color: var(--secondary-color);
    padding: 3rem 4rem;
    border-radius: .5rem;
    margin-top: 5rem;
    box-shadow: inset 0 0 4rem 0 rgba(255, 255, 255, 0.192);
    position: relative;
}
.resume .box .item::before{
    content: "";
    position: absolute;
    height: .5rem;
    width: 5rem;
    top: 51%;
    left: -5rem;
    background-color: var(--secondary-color);
}
.resume .box .item .circle{
    position: absolute;
    height:1rem;
    width: 1rem;
    border-radius: 100%;
    top: 50%;
    left: -5.7rem;
    background-color: var(--secondary-color);
}
.resume .box .item h3{
    font-size: 2rem;
    font-weight: 500;
    margin-bottom: .5rem;
}
.resume .box .item h4{
    font-size: 1.2rem;
    font-weight: 300;
    margin-bottom: 1.5rem;
}
.resume .box .item p{
    font-size: 1.4rem;
    font-weight: 400;
}
/* RESUME SECTION END */

/* TESTIMONIAL SECTION START */
.testimonial .next-prev button{
    margin-right: 1rem;
    font-size: 2.5rem;
    color: var(--text-color-white);
    background-color: var(--secondary-color);
    padding: 1rem 2.5rem;
    border-radius: .5rem;
    cursor: pointer;
    box-shadow: 0 0 1rem 0 rgba(0, 0, 0, 0.151);
}
.testimonial .owl-carousel .box .inside-effect{
    box-shadow: 0 0 1rem 0 rgba(0, 0, 0, 0.205);
}

.testimonial .owl-carousel .box{
    cursor: pointer;
    background-color: var(--secondary-color);
    padding: 5rem;
    border-radius: .5rem;
    box-shadow: inset 0 0 1rem 0 rgba(255, 255, 255, 0.171);
}
.testimonial .owl-carousel .box .head .comma{
    color: var(--skin-color);
    font-size: 3rem;
}
.testimonial .owl-carousel .box .head .star{
    color: var(--skin-color);
    font-size: 1.4rem;
}
.testimonial .owl-carousel .box h3{
    margin: 1.5rem 0 1rem 0;
    font-size: 2rem;
    font-weight: 400;
}
.testimonial .owl-carousel .box p{
    font-size: 1.4rem;
    font-weight: 300;
}
.testimonial .scroll{
    margin-top: 2rem;
    display: flex;
    justify-content: center;
}
.testimonial .scroll .dot{
    font-size: 1.4rem;
    padding-left: .5rem;
}
.testimonial .scroll .dot.active{
    color: var(--skin-color);
}

/* TESTIMONIAL SECTION END */

/* CUSTOMER SECTION START */
.customer .outside-effect{
    box-shadow: 0 0 1rem 0 rgba(0, 0, 0, 0.324);
}
.customer .box{
    border-radius: .5rem;
    box-shadow: inset 0 0 1rem 0 rgba(255, 255, 255, 0.171);
}
.customer .box .logo{
    padding: 3rem 3.5rem;
    background: var(--secondary-color);
    display: flex;
    align-items: center;
    justify-content:center;
    border-radius: 0.5rem;
}
.customer .box .logo i{
    margin-right: 0.5rem;
    color: var(--text-color-white);
    font-size: 2rem;
}
/* CUSTOMER SECTION END */

.contact .outside-effect{
    box-shadow: 0 0 1rem 0 rgba(0, 0, 0, 0.324);
}
.contact .box{
    border-radius: .5rem;
    box-shadow: inset 0 0 1rem 0 rgba(255, 255, 255, 0.171);
}
.contact .box .text{
    padding: 3rem 3.5rem;
    background: var(--secondary-color);
    align-items: center;
    justify-content:center;
    border-radius: 0.5rem;
    text-align: center;
}
.contact .box .text:not(last-child){
    margin-bottom: 3rem;
}
.contact .box .text i{
    color: var(--skin-color);
    font-size:2rem;
    margin-bottom:1rem;
}
.contact .inside-effect{
    box-shadow: inset 0 0 1rem 0 rgba(255, 255, 255, 0.171);
}
.contact .input{
    margin: 3rem;
}
.contact input{
    width: 100%;
    background-color: var(--secondary-color);
    padding:1.5rem 2rem;
    color: var(--text-color-white);
}
.contact textarea{
    width: 100%;
    background-color: var(--secondary-color);
    color: var(--text-color-white);
    resize: none;
    height: 20rem;
    padding: 2rem;
}
.contact button{
    padding:1rem 1.5rem;
    background-color: var(--secondary-color);
    color: #FFFFFF;
    margin: 1rem 0 2rem 0;
}


/* FOOTER SECTION START */
footer .footer-content h1{
    font-size:2rem;
    color: var(--skin-color);
}
footer .footer-content .social-links .links i{
    font-size: 2rem;
    color: var(--text-color-white);
    background-color: var(--secondary-color);
    padding: 2rem;
    border-radius: .5rem;
    margin: 1rem;
}
footer .footer-content h4 {
    font-size: 1.4rem;
    font-weight: 400;
    margin-bottom: 2rem;
  }

/* FOOTER SECTION END */
.d-none{
    display: none;
}
button i{
    color: #ffffff;
}