*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    text-decoration: none;
    list-style: none;
}
:root{
    --primary : rgb(255, 209, 3);
}

header{
    width: 100%;
    height: 100vh;
    background-image: url("../images/ghost.jpg");
    background-position: center
    background-size: center;
    background-repeat: no-repeat;
}
.container{
    width: 80%;
    margin: 0 auto;
}
.logo{
    cursor: pointer;
    margin-top: 10px;
}
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 15px;
}
.dropdown-menu{
    background: var(--primary);
    padding: 5px 10px;
    border-radius: 50px;
    position: relative;
}
button{
    border: transparent;
    background: none;
    color: white;
}

.dropdown-menu i{
    color: white;
    margin: 4px;
    cursor: pointer;
}
.dropdown-menu .menu{
    background: var(--primary);
    top: 40px;
    left: -20px; 
    border-radius: 4px;
    display: none;
    opacity: 0;
    position: absolute;
    overflow: hidden;
}
.dropdown-menu .menu ul li{
    padding: 10px 15px;
}
.dropdown-menu .menu ul li a{
    color: white;
    font-size: 15px;
}
.dropdown-menu .menu ul li:hover{
    background: white;
}
.dropdown-menu .menu ul li:hover a{
    color: var(--primary);
}
.toggle-menu{
    display: block !important;
    opacity: 1 !important;
}
