@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
    list-style: none;
}
:root{
    --primary : rgb(255, 175, 3);
}
.row{
    display: grid;
    grid-template-columns: repeat(12, 1fr);
}

.col-1{
    grid-column:  span 1;
}
.col-2{
    grid-column: span 2;
}
.col-3{
      grid-column: span 3;
}
.col-4{
      grid-column: span 4;
}
.col-5{
      grid-column: span 5;
}
.col-6{
      grid-column: span 6;
}
.col-7{
      grid-column: span 7;
}
.col-8{
      grid-column: span 8;
}
.col-9{
      grid-column: span 9;
}
.col-10{
      grid-column: span 10;
}
.col-11{
      grid-column: span 11;
}
.col-12{
      grid-column: span 12;
}

body{
    height: 1000px;
}

header{
    width: 100%;
    height: 100vh;
    background-image: url("../images/ghost.jpg");
    background-position: center
    background-size: center;
    background-repeat: no-repeat;
}
.container{
    width: 80%;
    margin: 0 auto;
}
.logo{
    cursor: pointer;
    margin-top: 10px;
}
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 15px;
}
.dropdown-menu{
    background: var(--primary);
    padding: 5px 10px;
    border-radius: 50px;
    position: relative;
}
button{
    border: transparent;
    background: none;
    color: white;
}

.dropdown-menu i{
    color: white;
    margin: 4px;
    cursor: pointer;
}
.dropdown-menu .menu{
    background: var(--primary);
    top: 40px;
    left: -20px; 
    border-radius: 4px;
    display: none;
    opacity: 0;
    position: absolute;
    overflow: hidden;
}
.dropdown-menu .menu ul li{
    padding: 10px 15px;
}
.dropdown-menu .menu ul li a{
    color: white;
    font-size: 15px;
}
.dropdown-menu .menu ul li:hover{
    background: white;
}
.dropdown-menu .menu ul li:hover a{
    color: var(--primary);
}
.toggle-menu{
    display: block !important;
    opacity: 1 !important;
}
.col-6{
    background: rgb(255, 255, 255);
    box-shadow: 0 0 10px rgb(44, 43, 43);
    padding: 100px 50px;
    margin-top: -250px;
    margin-left: -80px;
}
.row .col-6 h1{
    font-size: 40px;
    padding-bottom: 20px;
    text-transform: uppercase;
}
.row .col-6 p{
    padding-bottom: 40px;
}
.row .col-6 h1 span{
    color: var(--primary);
}
.btn-primary{
    color: white;
    background: var(--primary);
    padding: 10px 50px;
    border-radius: 2px;
    font-size: 15px;
}
.news{
    margin-top: 130px;
    
}
.news .row .col-4{
    margin: 0 20px;
}
.news .row .col-4 h3{
    text-transform: uppercase;
    padding: 20px 0 10px 0;

}
.news .row .col-4 p{
    font-size: 15px;
    padding-bottom: 20px;
    color: rgba(0, 0, 0, 0.671);
}
.news .row .col-4 a{
    color: var(--primary);
}
.icons{
    margin-top: 150px;
}
.icons h1{
    font-size: 25px;
    margin-bottom: 70px;
    text-transform: uppercase;
    margin-left: -80px;
}
.icons .row .col-3 i{
    font-size: 25px;
    margin-bottom: 50px;
}
.icons .row .col-3 h3{
    padding: 20px 0 10px 0;
    margin-bottom: 20px;
    font-size: 19px;

}
.icons .row .col-3 p{
    font-size: 15px;
    padding-bottom: 20px;
    color: rgba(0, 0, 0, 0.671);
}
.icons .row .col-3 .link a{
    color: var(--primary);
}
.icons .row .col-3{
    margin: 0 15px;
}
.blogs{
    margin-top: 160px;
    display: flex;
    width: 100%;

}
.blogs .left{
    width: 30%;
    padding: 0 15px;
}
.blogs .left h2{
    padding-bottom: 15px;
    padding-right: 40px;
}
.blogs .left p{
    padding-bottom: 50px;
    color: rgba(0, 0, 0, 0.411);
}
.blogs .right{
    display: flex;
    justify-content: space-between;
    margin: 0 20px;
    width: 70%;

}
.blogs .right .content{
    margin: 0 20px;
}
.blogs .right .content h4{
    margin-top: 10px;
}
.blogs .right .content p{
    font-size: 10px;
    margin: 5px 0;
    
    color: rgba(0, 0, 0, 0.411);
}
.blogs .right .content .links a{
    color: var(--primary);
    
}