.btn-group{
    display: flex;
    margin: 10px;
}

.btn-group .btn{
    margin: 0;
    border-radius: 0;
}
.btn-group :first-child{
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}
.btn-group :last-child{
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

.btn-group :not(:last-child) {
    border-right: none;
}
.btn-lg{
    font-size: 16px;
}
.btn-md{
    font-size: 14px;
}
.btn-sm{
    font-size: 12px;
}

.btn-group-vertical{
    display: flex;
    flex-direction: column;
}
.btn-group-vertical .btn{
    margin: 0;
    border-redius: 100px !important;
}

.btnDropdown{
    position: relative;
}
#dropdown-btn a{
    padding: 5px 10px;
}
#dropdown-btn a:hover{
    background: var(--heaven);
}
#dropdown-btn{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--pure) !important;
    box-shadow: 0 0 3px rgb(85, 82, 82) !important;
    position: absolute;
    display: none;
}

#dropdown-btn.dropdown-show{
    display: block;
}