.title-style{
    background: rgb(235, 230, 230);
    color:var(--lite-denger);
    font-size: 12px;
    padding:0 2px;
    border-radius: 5px;
}

.btn{
    background: #D7DAE7;
    color: #51524e;
    padding: 12px;
    border-radius: 5px;
    margin: 3px;
    display: inline-flex;
    cursor: pointer;
    border: none;
    transition: all .3s ease-in-out;
}
.btn-outline{
    background-color: transparent;
    color: #a1a39b;
    border: 1px solid #a1a39b;
    border-radius: 5px;
    padding: 8px 10px;
    transition: all 0.3s ease-in-out;
}
.btn-outline-primary{
    background-color: transparent;
    color: #1BC5BD;
    border: 1px solid #1BC5BD;
}
.btn-outline-primary:hover{
    background-color: #1BC5BD !important;
    color: #ffffff;
}


.btn-outline-secondary{
    background-color: transparent;
    color: #a1a39b;
    border: 1px solid #a1a39b;
}
.btn-outline-secondary:hover{
    background-color: #a1a39b;
    color: #272822;
}
.btn-outline-success{
    background-color: transparent;
    color: green;
    border: 1px solid green;
}
.btn-outline-success:hover{
    background: green !important;
    color: #ffffff;
}
.btn-outline-danger{
    background-color: transparent;
    color: #EE2D41;
    border: 1px solid #EE2D41;
}
.btn-outline-danger:hover{
    background: #EE2D41 !important;
    color: #ffffff;
}
.btn-outline-warning{
    background-color: transparent;
    color: #EE9D01;
    border: 1px solid #EE9D01;
}
.btn-outline-warning:hover{
    background: #EE9D01 !important;
    color: #ffffff;
}
.btn-outline-info{
    background-color: transparent;
    color: #4A7DFF;
    border: 1px solid #4A7DFF;
}
.btn-outline-info:hover{
    background: #4A7DFF !important;
    color: #ffffff;
}

.btn-outline-dark{
    background-color: transparent;
    color: #131628;
    border: 1px solid #131628;
}
.btn-outline-dark:hover{
    background: #131628 !important;
    color: #ffffff;
}



.mr-2{
    margin: 2px;
}
.btn:hover{
    background: rgb(177, 174, 174);
}

.btn-primary{
    background: #1BC3BB;
    color: #ffffff;
}
.btn-primary:hover,
.btn-primary.active{
    background:#1da8a1 ;
}
.btn-secondary{
    background: #D7DAE7;
    color: #000;
}
.btn-secondary:hover,
.btn-secondary.active{
    background:#b7b9c4 ;
}
.btn-success{
    background: rgb(6, 153, 6);
    color: #ffffff;
}
.btn-success:hover,
.btn-success.active{
    background:rgb(2, 204, 2);
}
.btn-danger{
    background: #EE2D41;
    color: #ffffff;
}
.btn-danger:hover,
.btn-danger.active{
    background:#fd041d ;
}
.btn-warning{
    background: #EE9D01;
    color: #ffffff;
}
.btn-warning:hover,
.btn-warning.active{
    background:#fda501 ;
}
.btn-info{
    background: #4A7DFF;
    color: #ffffff;
}
.btn-info:hover,
.btn-info.active{
    background:rgb(6, 124, 241) ;
}
.btn-text{
    background: #E4E6EF;
    color: rgb(0, 0, 0);
}
.btn-text:hover,
.btn-light.active{
    background:#f6f7fa ;
}
.btn-dark{
    background: #131628;
    color: #ffffff;
}
.btn-dark:hover,
.btn-dark.active{
    background:#0f121f ;
}
.btn-link{
    color: #1BC3BB;
}



.btn-sm{
    font-size: 12px;
}
.btn-lg{
    font-size: 18px;
}

.btn-block{
    width: 100%;
    display: block;
}

.button-group ul{
    display: flex;
}

.font-weight-lighterb{
    font-weight: lighter;
}
.font-weight-light{
    font-weight: 300;
}
.font-weight-normal{
    font-weight: normal;
}
.font-weight-bold{
    font-weight: bold;
}
.font-weight-bolder{
    font-weight: bolder;
}
.font-weight-boldest{
    font-weight: 900;
}

.text-uppercase{
    text-transform: uppercase;
}
.text-lowercase{
    text-transform: lowercase;
}
.btn-pill{
    border-radius: 50px;
}
.btn-square{
    border-radius: 0px;
}
.btn-default{
    background: #ececee;
    color: #afafae;
}
.btn-default:hover{
    background: #ececee;
    color: var(--primary);
}
.btn-light{
    background: #dedfe0;
    color: #8f8f8f;
}
.btn-light:hover{
    color: var(--primary);
}
.btn-clean{
    background-color:transparent;
    color: #afafae;
}
.btn-clean:hover{
    background-color: transparent;
    color: var(--primary);
}
.font-size-h5{
    font-size: 18px;
}
.font-size-h6{
    font-size: 16px;
}
.font-size-h3{
    font-size: 22px;
}
.btn-light{
    background: #d2f6ff;
    color: #1BC3BB;
    padding: 8px 12px; 
    border-radius: 5px;
    margin: 3px;
    cursor: pointer;
    border: none;
    transition: all .3s ease-in-out;
}
.btn-light:hover{
    background: #1BC3BB;
    color: #ffff;
    padding: 8px 12px; 
    border-radius: 5px;
    margin: 3px;
    cursor: pointer;
    border: none;
    transition: all .3s ease-in-out;
}

.btn-light-success{
    background: #b7fcb0;
    color: green;
}
.btn-light-success:hover{
    background: green;
    color: #ffff;
}
.btn-light-danger{
    background: #fccdd1;
    color:#F64E60;
}
.btn-light-danger:hover{
    background: #F64E60;
    color: #ffff;
}

.btn-light-warning{
    background: #f8e0b1;
    color:#FFA800;
}
.btn-light-warning:hover{
    background: #FFA800;
    color: #ffff;
}
.btn-light-dark{
    background: #9c9ca1;
    color:#181C32;
}
.btn-light-dark:hover{
    background: #181C32;
    color: #ffff;
}
.btn-text{
    background: transparent;
    color: var(--primary);
    padding: 8px 12px; 
    border-radius: 5px;
    margin: 3px;
    display: inline-block;
    cursor: pointer;
    border: none;
    transition: all .3s ease-in-out;
}
.btn-text:hover{
    background: #d2f6ff;
    color: var(--primary);
    padding: 8px 12px; 
    border-radius: 5px;
    margin: 3px;
    cursor: pointer;
    border: none;
    transition: all .3s ease-in-out;
}

.btn-text-success{
    background: none;
    color: green;
}
.btn-text-success:hover{
    background: #b7fcb0;
    color: green;
}
.btn-text-danger{
    background: none;
    color:#F64E60;
}
.btn-text-danger:hover{
    background: #fccdd1;
    color:#F64E60;
}

.btn-text-warning{
    background: none;
    color:#FFA800;
}
.btn-text-warning:hover{
    background: #ffffff;
    color:#FFA800;
}
.btn-text-dark{
    background: none;
    color:#181C32;
}
.btn-text-dark:hover{
    background: #9c9ca1;
    color:#181C32;
}
.btn-hover{
    background: transparent;
    color: var(--primary);
    padding: 8px 12px; 
    border-radius: 5px;
    margin: 3px;
    display: inline-block;
    cursor: pointer;
    border: none;
    transition: all .3s ease-in-out;
}
.btn-hover:hover{
    background: var(--primary);
    color: var(--pure);
    padding: 8px 12px; 
    border-radius: 5px;
    margin: 3px;
    cursor: pointer;
    border: none;
    transition: all .3s ease-in-out;
}


.btn-hover-success{
    background: none;
    color: green;
}
.btn-text-success:hover{
    background: green;
    color: #fff;
}
.btn-text-danger{
    background: none;
    color:#F64E60;
}
.btn-text-danger:hover{
    background: #F64E60;
    color:#fff;
}

.btn-text-warning{
    background: none;
    color:#FFA800;
}
.btn-text-warning:hover{
    background: #FFA800;
    color:#fff;
}
.btn-text-dark{
    background: none;
    color:#181C32;
}
.btn-text-dark:hover{
    background: #181C32;
    color:#fff;
}
