@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}
/* For Color Var */
:root{
    --primary : rgb(255, 217, 0);
    --secondary : rgb(73, 69, 69);
    --pure : rgb(252, 252, 252);
}
/* For Grid */
.row{
    display: grid;
    grid-template-columns: repeat(12, 1fr);
}

.col-1{
    grid-column:  span 1;
}
.col-2{
    grid-column: span 2;
}
.col-3{
      grid-column: span 3;
}
.col-4{
      grid-column: span 4;
}
.col-5{
      grid-column: span 5;
}
.col-6{
      grid-column: span 6;
}
.col-7{
      grid-column: span 7;
}
.col-8{
      grid-column: span 8;
}
.col-9{
      grid-column: span 9;
}
.col-10{
      grid-column: span 10;
}
.col-11{
      grid-column: span 11;
}
.col-12{
      grid-column: span 12;
}
/* For Grid Finish */

body{
    font-family: 'Poppins', sans-serif;
}
.full-section{
    display: flex;
    width: 100%;

}
.left-sidebar{
    width: 20%;
    height: 100vh;
    overflow: auto;
    background: var(--secondary);
    margin-left: 0%;
    transition: all 0.3s ease-in-out;

}
.right-sidebar{
    width: 100%;
    height: auto;
}
.top-section{
    height: 50px;
    background: var(--primary);

}
.top-section button{
    border: none;
    background: none;
    padding: 15px;
    font-size: 20px;
    cursor: pointer;
}
.hide-sidebar .left-sidebar{
    margin-left: -20%;
    transition: all 0.3s ease-in-out;
}