@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
/* For Color Var */
:root{
    --primary : #1BC5BD;
    --semi-primary : #45f3ea96;
    --secondary : #2b2c29;
    --lite : #8C8FA4;
    --pure : #FFFFFF;
    --heaven : #F2F5F8;
    --lite-denger : #F75768;
}

button{
    border: none;
    background: none;
}

/* for all flex box */
.block{
    display: block;
}
.flex{
    display: flex;
}

.space-between{
    justify-content: space-between;
}

.items-center{
    align-items: center;
}

.center{
    text-align: center;
}


/* For Grid */
.row{
    display: grid;
    grid-template-columns: repeat(12, 1fr);
}

.col-1{
    grid-column:  span 1;
}
.col-2{
    grid-column: span 2;
}
.col-3{
      grid-column: span 3;
}
.col-4{
      grid-column: span 4;
}
.col-5{
      grid-column: span 5;
}
.col-6{
      grid-column: span 6;
}
.col-7{
      grid-column: span 7;
}
.col-8{
      grid-column: span 8;
}
.col-9{
      grid-column: span 9;
}
.col-10{
      grid-column: span 10;
}
.col-11{
      grid-column: span 11;
}
.col-12{
      grid-column: span 12;
}
/* For Grid Finish */

a{
    color: var(--lite);
    text-decoration: none;
    font-size: 14px;
    transition: all .3s ease-in-out;
}
a:hover{
    color: var(--primary);
}
li{
    list-style: none;
}
p{
    color: var(--lite);
    font-size: 14px;
}
.p-1{
    padding: 1px;
}
.p-2{
    padding: 2px;
}
.p-3{
    padding: 3px;
}
.p-4{
    padding: 4px;
}
.p-5{
    padding: 5px;
}
.p-6{
    padding: 6px;
}
.p-7{
    padding: 7px;
}
.p-8{
    padding: 8px;
}
.p-9{
    padding: 9px;
}
.p-10{
    padding: 10px;
}


.pl-1{
    padding-left: 1px;
}
.pl-2{
    padding-left: 2px;
}
.pl-3{
    padding-left: 3px;
}
.pl-4{
    padding-left: 4px;
}
.pl-5{
    padding-left: 5px;
}
.pl-6{
    padding-left: 6px;
}
.pl-7{
    padding-left: 7px;
}
.pl-8{
    padding-left: 8px;
}
.pl-9{
    padding-left: 9px;
}
.pl-10{
    padding-left: 10px;
}


.mr-1{
    margin: 1px;
}
.mr-2{
    margin: 2px;
}
.mr-3{
    margin: 3px;
}
.mr-4{
    margin: 4px;
}
.mr-5{
    margin: 5px;
}
.mr-6{
    margin: 6px;
}
.mr-7{
    margin: 7px;
}
.mr-8{
    margin: 8px;
}
.mr-9{
    margin: 9px;
}
.mr-10{
    margin: 10px;
}

.ml-1{
    margin-left: 1px;
}
.ml-2{
    margin-left: 2px;
}
.ml-3{
    margin-left: 3px;
}
.ml-4{
    margin-left: 4px;
}
.ml-5{
    margin-left: 5px;
}
.ml-6{
    margin-left: 6px;
}
.ml-7{
    margin-left: 7px;
}
.ml-8{
    margin-left: 8px;
}
.ml-9{
    margin-left: 9px;
}
.ml-10{
    margin-left: 10px;
}
small{
    color: var(--lite);
    font-size: 12px;
}

h1,h2,h3,h4,h5,h6{
    color: var(--secondary);
    font-weight: 500;
}


.full-section{
    width: 100%;
    min-height: 100vh;
    background: var(--heaven);
}

.full-section .right-side{
    width: 100%;
    margin-left: 25%;
    transition: margin-left .5s ease-in-out;
}
.hide-sidebar .right-side{
    width: 100%;
    margin-left: 0;
    transition: margin-left .5s ease-in-out;
}

/* Top menu start  */
.full-section .top-section{
    height: 50px;
    background: var(--primary);
    width: 100%;
}


.top-section .top-menu li{
    margin: 13px;

}
.top-section .top-menu li i{
    color: var(--pure);
    font-size: 20px;
}

.top-section .top-menu .profile-section .inner-section{
    background-color: var(--pure);
    width: 380px;
    height: 100vh;
    top: 0px;
    padding: 25px;
    overflow: auto;
    position: fixed;
    z-index: 3;
    box-shadow: 0 0 3px var(--lite);
    right: -380px;
    transition: right .3s ease-in-out;
}
.profile-section .head button i{
    margin-left: 100px;
    color: var(--lite);
    background-color: rgb(223, 215, 215);
    padding: 4px 6px;
    border-radius: 3px;
    font-size: 13px;
    transition: all .3s ease-in-out;
    cursor: pointer;
}

.profile-section button i:hover{
    color: var(--pure);
    background-color: var(--primary);
    transition: all .3s ease-in-out;
}


.top-section .top-menu .dropdown-menu.dropdown-show .inner-section{
    right: 0;
    transition: all .3s ease-in-out;
}
.top-section .top-menu .profile-section .head h2{
    font-weight: 500;
    font-size: 20px;
    margin-right: 10px;
}
.top-section .top-menu .profile-section .head small{
    font-size: 10px;
    margin-top: 5px;
    color: var(--lite);
}

.top-section .top-menu .profile-section .user{
    margin-top: 30px;
}
.top-section .top-menu .profile-section .user .img img{
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 3px;
    position: relative;
}
.top-section .top-menu .profile-section .user .img .active-badge{
    height: 12px;
    width: 12px;
    background-color: blue;
    border-radius: 50%;
    border:2px solid var(--pure);
    margin-left: -9px;
    margin-top: -5px;
    position: absolute;
}

.top-section .top-menu .profile-section .user .user-info{
    margin-left: 20px;
}
.top-section .top-menu .profile-section small{
    color: var(--lite);
}
.top-section .top-menu .profile-section .user .user-info span i{
    color: var(--primary);
    position: relative;
}
.top-section .top-menu .profile-section .user .user-info span .mail-active{
    height: 10px;
    width: 10px;
    background-color: var(--primary);
    border-radius: 50%;
    border: 2px solid var(--pure);
    margin-left: -5px;
    margin-top: 10px;
    z-index: 1;
}

.top-section .top-menu .profile-section .user .user-info .btn{
    background-color: var(--semi-primary);
    color: var(--primary);
    font-size: 13px;
    font-weight: 600;
    padding: 3px 10px;
    border-radius: 4px;
    transition: all .3s ease-in-out;
}
.top-section .top-menu .profile-section .user .user-info .btn:hover{
    background-color: var(--primary);
    color: var(--pure);
}

.profile-section .profile-space{
    margin: 25px 0;
    opacity: 40%;
}
.top-section .top-menu .profile-section .activities .activities-group{
    margin: 20px 0;
    cursor: pointer;
}
.top-section .top-menu .profile-section .activities .activities-group i{
    color: var(--lite-denger);
    background-color: var(--heaven);
    padding: 15px;
    border-radius: 5px;
    margin-right: 15px;
}
.top-section .top-menu .profile-section .activities .activities-group i.fa-house-damage{
    color: rgb(0, 140, 255);
}
.top-section .top-menu .profile-section .activities .activities-group i.fa-chart-bar{
    color: orange;
}
.top-section .top-menu .profile-section .activities .activities-group i.fa-envelope-open-text{
    color: var(--primary);
}

.top-section .top-menu .profile-section .activities .activities-group:hover h5{
    color: var(--primary);
    transition: all .2s ease-in-out;
}

.top-section .top-menu .profile-section .notifications .notifications-group{
    background: #FFF4DE;
    border-radius: 5px;
    padding: 10px;
    margin: 25px 0;

}

.top-section .top-menu .profile-section .notifications .notifications-group i{
    color: orange;
    font-size: 20px;
    padding-left: 10px;
}
.top-section .top-menu .profile-section .notifications .notifications-group  .text{
    margin: 0 15px;
    position: relative;
}
.top-section .top-menu .profile-section .notifications .notifications-group  .text span{
    left: 200px;
    top: 15px;
    font-weight: bold;
    color: orange;
    font-size: 13px;
    position: absolute;
}
.top-section .top-menu .profile-section .notifications .notifications-group.second{
    background: #E1F0FF;
}
.top-section .top-menu .profile-section .notifications .notifications-group.third{
    background: #FFE2E5;
}
.top-section .top-menu .profile-section .notifications .notifications-group.fourth{
    background: #E1E9FF;
}


.top-section .top-menu .profile-section .notifications .notifications-group i.second,
.top-section .top-menu .profile-section .notifications .notifications-group span.second{
    color: var(--primary);
}
.top-section .top-menu .profile-section .notifications .notifications-group i.third,
.top-section .top-menu .profile-section .notifications .notifications-group span.third{
    color: #F64E60;
}
.top-section .top-menu .profile-section .notifications .notifications-group i.fourth,
.top-section .top-menu .profile-section .notifications .notifications-group span.fourth{
    color: #6993FF;
}

.top-section .top-menu .profile-section .notifications .notifications-group:hover h5{
    color: var(--primary);
    transition: all .3s ease-in-out;
    cursor: pointer;
}

/* profile finish */

/* panel start  */
.top-section .top-menu i.fa-th-large{
    position: relative;
}
.top-section .top-menu .noti-number{
    position: absolute;
    background: rgb(252, 207, 215);
    color: var(--lite-denger);
    font-size: 9px;
    padding: 1px 5px;
    border-radius: 5px;
    margin-left: -10px;
}
.top-section .top-menu .panel-section .inner-section{
    background-color: var(--pure) !important;
    width: 420px;
    height: 100vh;
    top: 0px;
    padding: 25px;
    overflow: auto;
    position: fixed;
    z-index: 3;
    box-shadow: 0 0 3px var(--lite);
    right: -420px;
    transition: right .3s ease-in-out;
}


.top-section .top-menu .dropdown-menu.dropdown-show .inner-section{
    right: 0;
    transition: all .3s ease-in-out;
}
.panel-section .head button i{
    margin-left: 50px;
    color: var(--lite);
    background-color: rgb(223, 215, 215);
    padding: 4px 6px;
    border-radius: 3px;
    font-size: 13px;
    transition: all .3s ease-in-out;
    cursor: pointer;
}
.notifications-space{
    margin: 10px 0;
    height: 3px;
    background: var(--lite);
    
}


.panel-section .head button i:hover{
    color: var(--pure);
    background-color: var(--primary);
    transition: all .3s ease-in-out;
}


.top-section .top-menu .panel-section .head h4{
    margin-left: 120px;
    padding-top: 15px;
}
.top-section .top-menu .panel-section .head button{
    margin-left: 50px;
    padding-top: 15px;
}

.panel-section .notifications{
    margin: 15px;
}
.panel-section .notifications .simple-notifications{
    margin: 15px;
}
.panel-section .notifications .simple-notifications .text{
    position: relative;
}
.panel-section .notifications .simple-notifications  .text span{
    left: 185px;
    top: 15px;
    font-weight: bold;
    color: var(--lite);
    padding: 4px 8px;
    background: var(--heaven);
    font-size: 13px;
    position: absolute;
}
.panel-section .notifications .simple-notifications i{
    color: red;
    font-size: 22px;
    background-color: var(--heaven);
    padding: 10px 12px;
    border-radius: 5px;
    margin-right: 10px;
}
.panel-section .notifications .simple-notifications i.fa-paper-plane{
    color: rgb(0, 140, 255);
}
.panel-section .notifications .simple-notifications i.fa-puzzle-piece{
    color: greenyellow;
}
.panel-section .notifications .simple-notifications i.fa-kickstarter-k{
    color: var(--primary);
}

.panel-section .notifications .simple-notifications:hover h5{
    color: var(--primary);
    transition: all .2s ease-in-out;
    cursor: pointer;
}



.panel-section .notifications .notifications .notifications-group{
    background: #FFF4DE;
    border-radius: 5px;
    padding: 10px;
    margin: 25px 0;

}

.panel-section .notifications .notifications .notifications-group i{
    color: orange;
    font-size: 20px;
    padding-left: 10px;
    background: none;
}
.panel-section .notifications .notifications .notifications-group  .text{
    margin: 0 15px;
    position: relative;
}
.panel-section .notifications .notifications .notifications-group  .text span{
    left: 200px;
    top: 15px;
    font-weight: bold;
    color: orange;
    font-size: 13px;
    position: absolute;
}
.panel-section .notifications .notifications .notifications-group.second{
    background: #E1F0FF;
}
.panel-section .notifications .notifications .notifications-group.third{
    background: #FFE2E5;
}
.panel-section .notifications .notifications .notifications-group.fourth{
    background: #E1E9FF;
}


.panel-section .notifications .notifications .notifications-group i.second,
.panel-section .notifications .notifications .notifications-group span.second{
    color: var(--primary);
}
.panel-section .notifications .notifications .notifications-group i.third,
.panel-section .notifications .notifications .notifications-group span.third{
    color: #F64E60;
}
.panel-section .notifications .notifications .notifications-group i.fourth,
.panel-section .notifications .notifications .notifications-group span.fourth{
    color: #6993FF;
}

.panel-section .notifications .notifications .notifications-group:hover h5{
    color: var(--primary);
    transition: all .3s ease-in-out;
    cursor: pointer;
}

/* action section start  */
.top-section .top-menu .action-section .inner-section{
    background-color: var(--pure);
    width: 380px;
    height: 100vh;
    top: 0px;
    padding: 25px;
    overflow: auto;
    position: fixed;
    box-shadow: 0 0 3px var(--lite);
    right: -380px;
    transition: right .3s ease-in-out;
    z-index: 1;
}
.top-section .top-menu .action-section .head button i{
    margin-left: 50px;
    color: var(--lite);
    background-color: rgb(223, 215, 215);
    padding: 4px 6px;
    border-radius: 3px;
    font-size: 13px;
    transition: all .3s ease-in-out;
    cursor: pointer;
}

.top-section .top-menu .action-section button i:hover{
    color: var(--pure);
    background-color: var(--primary);
    transition: all .3s ease-in-out;
}


.top-section .top-menu .dropdown-menu.dropdown-show .inner-section{
    right: 0;
    transition: all .3s ease-in-out;
}
.top-section .top-menu .action-section .head h2{
    font-weight: 500;
    font-size: 20px;
    margin-right: 10px;
}
.top-section .top-menu .action-section .head small{
    font-size: 10px;
    margin-top: 5px;
    color: var(--lite);
}
.action-section .boxs{
    margin-top: 15px;
}
.action-section .boxs .row .col-6{
    background: var(--heaven);
    padding: 35px 20px;
    margin: 10px;
    border-radius: 5px;
    transition: all .3s ease-in-out;
}
.action-section .boxs .row .col-6 i{
    font-size: 35px;
    background: var(--heaven);
    color: var(--primary) ; 
    transition: all .3s ease-in-out;
}

.action-section .boxs .row .col-6 h4{
    background: var(--heaven);
    color: var(--lite) ; 
    transition: all .3s ease-in-out;
    font-weight: 500;
}
.action-section .boxs .row .col-6:hover,
.action-section .boxs .row .col-6:hover i,
.action-section .boxs .row .col-6:hover h4{
    background: var(--primary);
    color: var(--pure);
}

/* Top menu finish */



/* Slide Left start  */
.container{
    width: 75%;
    margin: 0 auto;
}

.full-section .left-side{
    width: 25%;
    height: 100vh;
    background-color: var(--pure);
    margin-left: 0%;
    position: fixed;
    overflow: auto;
    transition: margin-left .5s ease-in-out;
}
.hide-sidebar .left-side{
    margin-left: -25%;
    transition: margin-left .5s ease-in-out;
}
.menu-icon button i{
    font-size: 20px;
    margin: 15px;
    color: var(--pure);
    cursor: pointer;
}

.left-side .logo img{
    width: 100px;
    margin: 10px 65px;
}
.left-side .left-menu .top-title{
    margin: 25px 0;
    color: var(--lite);
    cursor: pointer;
}

.left-side .left-menu .top-title i,
.left-side .left-menu .top-title h5{
    margin-right: 15px;
    transition: all .3s ease-in-out;
}

.left-menu .menu-group h5{
    margin: 15px 0;
    color: var(--lite);
    transition: all .3s ease-in-out;
}
.left-menu .menu-group .menu-item .icon{
    color: var(--lite);
    margin-right: 10px;
    transition: all .3s ease-in-out;
}
.left-side .left-menu .top-title:hover i,
.left-side .left-menu .top-title:hover h5,
.left-menu .menu-group .menu-item:hover i,
.left-menu .menu-group .menu-item:hover a{
    color: var(--primary);
    cursor: pointer;
}

.left-menu .menu-group .fa-circle{
    font-size: 5px;
    color: var(--lite);
    margin-right: 10px;
    transition: all .3s ease-in-out;
}
.left-menu .menu-group{
    margin-top: 50px;
}
.left-menu .menu-group ul li{
    margin-top: 15px;
}
.left-menu .menu-group .dropdown a{
    color: var(--secondary);
    font-size: 13px;
    transition: all .3s ease-in-out;
}


.left-menu .menu-group .rotate-icon{
    float: right;
    font-size: 14px;
    color: var(--lite);
    transition: transform .5s ease-in-out;
}
.rotate_90_deg{
    transform: rotate(90deg) !important;
}
.menu-group .dropdown .dropdown-menu{
    margin-left: 20px;

}
.menu-group .dropdown .dropdown-menu li:hover a,
.menu-group .dropdown .dropdown-menu li:hover i,
.dropdown-trigger.active a,
.dropdown-trigger.active i{
    color: var(--primary) !important;
}



.menu-group .dropdown .dropdown-menu{
    max-height: 0;
    transition: all .5s ease-in-out;
    overflow: hidden;
}
.menu-group .dropdown .dropdown-menu.dropdown-show{
    max-height: 450px;
}

/* width */
::-webkit-scrollbar {
    width:3px;
  }
  
  /* Track */
   ::-webkit-scrollbar-track {
    background: var(--heaven);
  }
  
  /* Handle */
   ::-webkit-scrollbar-thumb {
    background: var(--lite);
  }
  
  /* Handle on hover */
   ::-webkit-scrollbar-thumb:hover{
    background: rgb(211, 203, 203);
  }



/* Slide Left finish  */



/* main section start  */
.main-container{
    width: 90%;
    margin: 0 auto;
}

.main-section .broadcrumb{
    margin-top: 25px;
}
.main-section .broadcrumb nav .left-nav h2{
    margin-right: 10px;
}
.main-section .broadcrumb nav .left-nav a{
    font-size: 13px;
}
.main-section .broadcrumb nav .left-nav i{
    margin: 0 10px;
    font-size: 3px;
    color: var(--lite);
}


.main-section .broadcrumb nav .right-nav i{
    margin-right: 5px;
}

.main-section .broadcrumb nav .right-nav .right-menu{
    background-color: var(--primary);
    margin: 0 15px;
    padding: 8px 15px;
    border-radius: 5px;
    transition: all .3s ease-in-out;
    position: relative;
}
.main-section .broadcrumb nav .right-nav .right-menu i,
.main-section .broadcrumb nav .right-nav .right-menu h5{
    color: var(--pure);
    
}
.main-section .broadcrumb nav .right-nav .right-menu:hover,
.main-section .broadcrumb nav .right-nav .fa-envelope-open-text:hover{
    background-color: rgb(11, 133, 133);
}

.main-section .broadcrumb nav .right-nav .fa-envelope-open-text{
    background-color: var(--primary);
    color: var(--pure);
    padding: 10px;
    border-radius: 5px;
    transition: all .3s ease-in-out;
}
.broadcrumb nav .right-nav .right-menu i,
.broadcrumb nav .right-nav .right-menu h5{
    color: var(--pure) !important;
}


.broadcrumb nav .right-nav .right-menu .label{
    background: var(--pure);
    border-radius: 5px;
    top: 40px;
    width: 215px;
    height: 330px;
    left: -90px;
    box-shadow: 0 0 3px var(--lite);
    position: absolute;
    display: none;
    opacity: 0;
}
.broadcrumb nav .right-nav .right-menu .dropdown-menu.dropdown-show{
    display: block;
    opacity: 1;
    transition: all .3s ease-in-out;
}

.broadcrumb nav .right-nav .right-menu .label .heading{
    border-bottom: 1px solid var(--heaven);
    padding: 10px 20px;
}
.broadcrumb nav .right-nav .right-menu .label .heading h4{
    font-size: 14px;
    color: var(--lite);
}
.broadcrumb nav .right-nav .right-menu .label .heading i{
    color: var(--lite) !important;
}

.broadcrumb nav .right-nav .right-menu .label .body{
    margin-top: 10px;
    border-bottom: 1px solid var(--heaven);
}
.broadcrumb nav .right-nav .right-menu .label .body ul li{
    padding: 10px 20px;
}
.broadcrumb nav .right-nav .right-menu .label .body .one{
    background: #E1F0FF;
    color: #4CA4FF;
    padding: 4px 8px;
    border-radius: 5px;
    font-size: 14px;
} 
.broadcrumb nav .right-nav .right-menu .label .body .two{
    background: #FFE2E5;
    color: #F86D7C;
    padding: 4px 8px;
    border-radius: 5px;
    font-size: 14px;
} 
.broadcrumb nav .right-nav .right-menu .label .body .three{
    background: #FFF4DE;
    color: #FFBA34;
    padding: 4px 8px;
    border-radius: 5px;
    font-size: 14px;
} 
.broadcrumb nav .right-nav .right-menu .label .body .four{
    background: #C9F7F5;
    color: #2CCAC2;
    padding: 4px 8px;
    border-radius: 5px;
    font-size: 14px;
} 
.broadcrumb nav .right-nav .right-menu .label .body .five{
    background: #D1D3E0;
    color: #404358;
    padding: 4px 8px;
    border-radius: 5px;
    font-size: 14px;
} 

.broadcrumb nav .right-nav .right-menu .label .body ul li:hover{
    background: var(--heaven);
}

.broadcrumb nav .right-nav .right-menu .label .footer{
    margin: 10px 20px;
}
.broadcrumb nav .right-nav .right-menu .label .footer a{
    font-weight: 600;
    font-size: 12px;
    padding: 5px 10px;
    border-radius: 3px;
    transition: all .3s ease-in-out;
}
.broadcrumb nav .right-nav .right-menu .label .footer a:hover{
    color: var(--primary);
    background-color: var(--heaven);

}



/* Chat section start  */
.main-section .broadcrumb nav .right-nav .chat-section{
    position: relative;
}
.main-section .broadcrumb nav .right-nav .chat-section .chat{
    width: 500px;
    height: 580px;
    overflow: auto;
    top: -25px;
    left: -450px;
    box-shadow: 0 0 10px var(--lite);
    background-color: var(--pure);
    position: absolute;
    display: none;
    opacity: 0;
}
.main-section .broadcrumb nav .right-nav .dropdown-menu.dropdown-show{
    display: block;
    opacity: 1;
}
.broadcrumb nav .right-nav .chat-section .chat .heading{
    border-bottom: 2px solid var(--heaven);

   
}
.broadcrumb nav .right-nav .chat-section .chat .heading .fa-times,
.broadcrumb nav .right-nav .chat-section .chat .heading .fa-user-plus{
    margin: 15px 20px;
    color: var(--lite);
    padding: 5px 8px;
    transition: all .3s ease-in-out;
    cursor: pointer;
}
.broadcrumb nav .right-nav .chat-section .chat .heading .fa-times:hover{
    color: var(--primary);
    background: var(--heaven);
    border-radius: 3px;
}
.broadcrumb nav .right-nav .chat-section .chat .heading .user p{
    font-size: 13px;
}

.broadcrumb nav .right-nav .chat-section .chat .heading .user .fa-circle{
    font-size: 6px;
    color: var(--primary);
}

.broadcrumb nav .right-nav .chat-section .chat .body .chatting,
.broadcrumb nav .right-nav .chat-section .chat .body .chatting-me{
    height: 140px;
}

.broadcrumb nav .right-nav .chat-section .chat .body{
    margin: 20px 20px 0 20px;
}
.broadcrumb nav .right-nav .chat-section .chat .body .user .fa-user-circle{
    font-size: 40px;
    color: var(--lite);
    margin-bottom: 10px;
}
.broadcrumb nav .right-nav .chat-section .chat .body .user h4{
    margin-top: -10px;
    transition: all .3s ease-in-out;
    cursor: pointer;
}
.broadcrumb nav .right-nav .chat-section .chat .body .user h4 span{
    font-size: 12px;
    margin-left: 3px;
    color: var(--lite);
}
.broadcrumb nav .right-nav .chat-section .chat .body p{
    max-width: 400px;
    padding: 15px 20px;
    border-radius: 5px;
    font-weight: 600;
    background: #E1F0FF;
}



.broadcrumb nav .right-nav .chat-section .chat .body .chatting-me .user-me{
    float: right;
}


.broadcrumb nav .right-nav .chat-section .chat .body .chatting-me .fa-user-circle{
    font-size: 40px;
    color: var(--lite);
    margin-bottom: 10px;
    margin-left: 5px;
    
}
.broadcrumb nav .right-nav .chat-section .chat .body .user-me h4{
    transition: all .3s ease-in-out;
    cursor: pointer;
}
.broadcrumb nav .right-nav .chat-section .chat .body .chatting-me h4 span{
    font-size: 12px;
    margin-right: 3px;
    color: var(--lite);
}
.broadcrumb nav .right-nav .chat-section .chat .body .chatting-me p{
    float: right;
    width: 400px;
    padding: 15px 20px;
    border-radius: 5px;
    font-weight: 600;
    background: #98fcfc;
}
.broadcrumb nav .right-nav .chat-section .chat .body .user h4:hover,
.broadcrumb nav .right-nav .chat-section .chat .body .user-me h4:hover{
    color: var(--primary);
}



.broadcrumb nav .right-nav .chat-section .chat .footer{
    border-top: 2px solid var(--heaven);
}

.broadcrumb nav .right-nav .chat-section .chat .footer input{
    border: none;
    text-align: center;
    margin-top: 20px;
}


.main-section .main-menu-top{
    background-color: var(--pure);
    margin: 20px 0;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 15px rgb(207, 205, 205);
}
.main-section .main-menu-top i{
    color: var(--primary);
    margin-right: 15px;
    font-size: 25px;
}
.main-section .main-menu-top p{
    color: var(--secondary);
}
.main-section .main-menu-top a{
    color: var(--primary);
    transition: all .3s ease-in-out;
}

.main-section .main-menu-top a:hover{
    color: rgb(48, 114, 108);
}


/* CARD Start  */
.main-section .card{
    background-color: var(--pure);
    border-radius: 5px;
    box-shadow: 0 0 15px rgb(207, 205, 205);
}
.main-section .card-one{
    margin: 10px 15px 30px 0;
}
.main-section .card-two{
    margin: 10px 0 30px 15px;
}
.main-section .card .heading{
    border-bottom: 2px solid var(--heaven);
    padding: 15px 30px;
}
.main-section .card .body{
    padding: 25px 30px;
}
.main-section .card .body .title{
    margin-bottom: 15px;
}
.main-section .card .body .body-section{
    background-color: var(--heaven);
    border-radius: 5px;
    padding: 4px;
}
.main-section .card .body .body-section .body-content{
    background-color: var(--pure);
    border-radius: 5px;
    padding: 25px 30px;
}
.main-section .card .body .body-section .body-content p{
    line-height: 2.5;
    color: var(--secondary);
}

.main-section .card .body .card-p{
    margin: 50px 0 20px 0;
    color: var(--secondary);

}

footer{
    margin: 60px 0 20px 0;
}
footer .right li{
    padding-left: 15px;
    transition: all .3s ease;
}
footer .right li:hover a{
    color: var(--primary);
}