.text-primary{
    color: #30C9D2 !important;
}
.text-secondary{
    color: #3D313F !important;
}
.text-success{
    color: #70C5FF !important;
}

.text-danger{
    color: #F65460 !important;
}
.text-danger{
    color: #F65460 !important;
}
.text-danger{
    color: #F65460 !important;
}
.text-warning{
    color: #FFB018 !important;
}
.text-info{
    color: #7C9FFF !important;
}
.text-light{
    background-color: #181C32 !important;
    color: #ffffff !important;
}
.text-dark{
    color: #544E53 !important;
}
.text-dark-75{
    color: #454259 !important;
}
.text-dark-65{
    color: #454259 !important;
}
.text-dark-25{
    color: #868299 !important;
}
.text-body{
    color: #514264 !important;
}
.text-muted{
    color: #DBC5C3 !important;
}
.text-white{
    background-color: #181C32 !important;
    color: #ffffff !important;
}
.text-white-50{
    background-color: #181C32 !important;
    color: #8C7C71 !important;
}
.text-black-50{
    color: #948B90 !important;
}

.display-1{
    font-size: 70px;
}
.display-2{
    font-size: 60px;
}
.display-3{
    font-size: 50px;
}
.display-4{
    font-size: 40px;
}
.display-5{
    font-size: 30px;
}
.display-6{
    font-size: 20px;
}

.lead {
    font-weight: 300;
}
.separator{
    margin: 20px 0;
}
.separator-dashed{
    border-bottom: 1px dotted var(--lite);
}


.separator-dashed.separator-border-2{
    border-bottom: 2px dotted var(--lite);
}
.separator-dashed.separator-border-3{
    border-bottom: 3px dotted var(--lite);
}
.separator-dashed.separator-border-4{
    border-bottom: 4px dotted var(--lite);
}
.separator-solid{
    border-bottom: 1px  solid var(--lite);
}
.separator-border-2{
    border-bottom: 2px  solid var(--lite);
}
.separator-border-3{
    border-bottom: 3px  solid var(--lite);
}
.separator-border-4{
    border-bottom: 4px  solid var(--lite);
}







